<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
      <tr>
        <th>Currunt Initiatives</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let initiative of listOfInitiatives">
        <td (click)="navigate(initiative.id)">{{ initiative.name }}</td>
      </tr>
    </tbody>
</table><br>
<mat-divider></mat-divider><br>
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger2" class="row-border hover">
  <thead>
    <tr>
      <th>My Initiatives</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let initiative of listOfMyInitiatives">
      <td (click)="navigate(initiative.id)">{{ initiative.name }}</td>
    </tr>
  </tbody>
</table>